@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body
{
	background: #121113;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
}
.fireworks
{
	position: fixed;
}
.name {
	font-size: 2em;
	font-weight: bold;
	color: #f0d054;
}
section.content
{
	z-index: 1;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section:nth-child(2).content
{
	padding-top: 100vh;
}
section.content h2
{
	-webkit-text-stroke: 1px #ffffff;
	color: transparent;
	font-size: 8em;
	line-height: 0.9em;
}
section.content h2 c
{
	color: #da1717;
	-webkit-text-stroke: 0 #fff;
}
section.content h2 span
{
	position: relative;
	background: #27d452;
	font-size: 0.2em;
	display: inline-block;
	color: #e9e1e1;
	padding: 0 10px;
	top: -30px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5em;
	-webkit-text-stroke: 0px #fff;
}
::-webkit-scrollbar
{
	width: 0;
}
section.content img
{
	max-width: 300px;
    opacity: 0.5;
    mix-blend-mode: overlay;
}